<script>$('body').addClass('home-page');</script>
<div class="center jumbotron">
  <h1>Welcome to iNOTE</h1>
  <h2>
      No time to review all the information you noted? Let us FLASH it for you!
  </h2>
  <% if signed_in? %>
      <div class="row">
          <%= link_to flashcard_user_path(current_user), class: "btn btn-lg btn-primary btn-homepage", id: "btn-flash" do %>
              <span class="glyphicon glyphicon-flash glyphicon-flash-mainpage"></span>
          <% end %>
      </div>
  <% else %>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary btn-homepage", id: "btn-signup" %>
  <% end %>
</div>
<% if signed_in? %>
  <div class="row">
      <%= form_for @note, url:  user_quick_creat_note_path(current_user) do |f| %>
          <div class="col-md-6 col-md-offset-1">
              <div class="form-group">
                  <%= f.text_field :link, class: "form-control", :placeholder => "Enter the url" %>
              </div>
          </div>
          <% if ! @categories.empty? %>
              <div class="col-md-2">
                  <div class="form-group">
                      <%= f.select :category_id, options_for_select(@categories.all.map {|category| [category.name, category.id]}), {}, { class: "form-control" } %>
                  </div>
              </div>
          <% else %>
              <%= f.hidden_field :category_id, value: "0" %>
          <% end %>
          <% if @categories.empty? %>
              <div class="col-md-3">
                  <div class="form-actions">
                      <%= f.submit "Quick Note!", class: "btn btn-danger col-md-6", data: { confirm: "You don't have any categories now. Do you want to add it to \"Unclassified\" ?" } %>
                  </div>
              </div>
          <% else %>
              <div class="col-md-3">
                  <div class="form-actions">
                      <%= f.submit "Quick Note!", class: "btn btn-danger col-md-6" %>
                  </div>
              </div>          
          <% end %>
      <% end %>
  </div>
<% end %>
