<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading link_image">
      <h2><%= @link.link_title %></h2>
    </div>
    <div class="panel-body">
      <%= image_tag @link.link_picture, alt: @link.description %>
      <p class="description"><%= @link.link_description %> ...</p>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-8">
          <h5><%= time_ago_in_words(@link.updated_at) %> ago</h5>
        </div>
        <div class="col-md-4">
          <div class="btn-group pull-right">
            <%= link_to @link.link, target: "_blank", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-play"></span>
            <% end %>
          </div> 
        </div>
      </div>
    </div>      
  </div>
</div>
