<div class="col-md-6 col-md-offset-3">
  <% if @link.title.blank? %>
    <h3><%= @link.link_title %></h3>
  <% else %>
    <h3><%= @link.title %></h3>
  <% end %>
  <% if @link.description.blank? %>
      <p><%= truncate(@link.link_description, length: 100) %></p>
  <% else %>
      <p><%= truncate(@link.description, length: 100) %></p>
  <% end %>        
  <p>
    <%= link_to @link.link, target: "_blank", "data-toggle": "popover", "data-trigger": "hover", "data-content": "Have a look!" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
  </p> 
  <%= image_tag @link.link_picture, alt: truncate(@link.description, length: 25), class: "img-thumbnail img-center" %>
</div>