<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerOptions">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>      
      <%= link_to "iNOTE", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <% if current_user %>
      <%= form_tag search_link_user_path(current_user), method: :get, class:"navbar-form navbar-left", role: "search_link" do %>
        <div class="form-group">
          <%= text_field_tag :search_content, nil, placeholder: "Search your links", class: "form-control" %> 
        </div>
        <%= button_tag(type: 'submit', class: "btn btn-default") do %>
          <span class="glyphicon glyphicon-search"></span> 
        <% end %>
      <% end %>
    <% end %>
    
    <div class="collapse navbar-collapse" id="headerOptions">
      <ul class="nav navbar-nav navbar-right navbar-header">
        <% if !current_user %>
          <li><%= link_to "Sign up", new_user_registration_path %> </li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% else %>
          <li><%= link_to "Top sites", websites_path %></li>
          <li><%= link_to "My links", user_path(current_user) %></li>
          <li><%= link_to "Flash me!", flashcard_user_path(current_user) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi! <%= current_user.name %>!
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> 
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-off"></span> Sign out
                <% end %>
              </li>
            </ul>
          </li>
          <% if ! current_page?(controller: 'static_pages', action: 'home') %>
            <li>
              <a class="create-quicknote"><span class="glyphicon glyphicon-pencil"></span></a>
            </li>
          <% end %>  
        <% end %>
      </ul>
    </div>
    <% if ! current_page?(root_path) %>
      <% if current_user %>
        <div>
          <div class="row header-quicknote" style="display: none">
            <%= form_for new_link, url:  user_quick_creat_link_path(current_user) do |f| %>
                <div class="col-md-6 col-md-offset-1">
                    <div class="form-group">
                        <%= f.text_field :link, class: "form-control", :placeholder => "Enter the url" %>
                    </div>
                </div>
                <% if ! current_user.categories.empty? %>
                    <div class="col-md-2">
                        <div class="form-group">
                            <%= f.select :category_id, options_for_select(current_user.categories.all.map {|category| [category.name, category.id]}), {}, { class: "form-control" } %>
                        </div>
                    </div>
                <% else %>
                    <%= f.hidden_field :category_id, value: "0" %>
                <% end %>
                <% if current_user.categories.empty? %>
                    <div class="col-md-3">
                        <div class="form-actions">
                            <%= f.submit "Quick Note!", class: "btn btn-danger btn-quicknote col-md-6", data: { confirm: "You don't have any categories now. Do you want to add it to \"Unclassified\" ?" } %>
                        </div>
                    </div>
                <% else %>
                    <div class="col-md-3">
                        <div class="form-actions">
                            <%= f.submit "Quick Note!", class: "btn btn-danger btn-quicknote col-md-6" %>
                        </div>
                    </div>          
                <% end %>
            <% end %>
          </div> 
        </div>  
      <% end %>  
    <% end %>  
  </div>
</nav>
