<% if youtube? @link.link %>
  <%= content_tag :div, class: "embed_youtube_link", data: {content: embed_youtube(@link.link)} do %>
  <% end %>
<% end %>

<div class="row" id="link_show">
  <div class="col-md-7 link_show_left">
    <div class="panel panel-default">
      <div class="panel-heading link_image">
        <h2><%= @link.link_title %></h2>
      </div>
      <div class="panel-body">
        <%= image_tag @link.link_picture, alt: @link.description %>
        <p class="description"><%= @link.link_description %> ...</p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-8">
            <h5>First added <%= time_ago_in_words(created_time_link_user @link, current_user) %> ago</h5>
          </div>
          <div class="col-md-4">
            <div class="btn-group pull-right">
              <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{@link.link}", :"title" => "Share on Facebook", target: "popup", class: "btn btn-default", id: "shareFacebook" do %>
                <span class="glyphicon glyphicon-share"></span>  
              <% end %>
              <% if youtube? @link.link %>
                <%= link_to "#youtubeModal", :"data-toggle" => "modal", class: "btn btn-default addYoutubeSrc" do %>
                  <span class="glyphicon glyphicon-film"></span>  
                <% end %>
              <% end %>
              <%= link_to @link.link, target: "_blank", class: "btn btn-default", id: "external_link" do %>
                <span class="glyphicon glyphicon-play"></span>
              <% end %>
            </div> 
          </div>
        </div>
      </div>      
    </div>
  </div>
  <br>
  <div class="col-md-5">
    <div>
      <%= form_for [current_user, @link, @review] do |f| %>      
        <div>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "Please enter your review" %>
          </div>
        </div>
        <div>
          <div class="form-actions">
            <%= f.submit "Save", class: "btn btn-default pull-right" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- <h3 class="center">Reviews</h3> -->
    <div class="reviews" style="overflow-x: auto">
      <% @current_reviews.each do |review| %>
      <div class="each-review">
        <h5><b>#<%= @total_review %></b></h5>
        <p><%= review.content %></p>
        <small class="pull-right"><%= time_ago_in_words(review.created_at)%> ago</small>
      </div>
      <hr>
      <% @total_review -= 1 %>
      <% end %>
    </div>
  </div>
</div>

<% if youtube? @link.link %>
  <div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="youtubeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close deleteYoutubeSrc" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="youtubeModalLabel" style="letter-spacing: 1px">Youtube</h4>
        </div> 
        <div class="modal-body">
            <iframe width="560" height="315" src="" frameborder="0" allowfullscreen id="youtubeFrame"></iframe>
        </div>
        <div class="modal-footer">
          <div>
            <%= form_for [current_user, @link, @review] do |f| %>      
              <div>
                <div class="form-group">
                  <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "Please enter your review" %>
                </div>
              </div>
              <div>
                <div class="form-actions">
                  <%= f.submit "Save", class: "btn btn-default pull-right" %>
                </div>
              </div>
            <% end %>
          </div>          
        </div>
      </div>
    </div>
  </div>
<% end %>
