<div class="container">
  <h2><%= @category.name %></h2>
    <hr>
    <div class="col-md-9 pagination-show-page">
      <%= paginate @links %>  
    </div>
    <div class="col-md-3">
      <div class="btn-group pull-right">  
        <%= link_to "Add Link", new_user_category_link_path(current_user, @category), class: "btn btn-default" %>
        <div class="btn-group">  
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sorting
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class=<%= li_active(@sort_now,"newest") %> ><%= link_to "From Newest", user_category_path(current_user,@category, sort: "newest"), class: link_sort_active(@sort_now,"newest") %></li>
            <li class=<%= li_active(@sort_now,"oldest") %> ><%= link_to "From Oldest", user_category_path(current_user,@category, sort: "oldest"), class: link_sort_active(@sort_now,"oldest") %></li>
          </ul>
        </div>
      </div>
    </div>
  <br>
  <br>
  <% if @links.empty? %>
    <br>
    <h4>You don't have any links for this category now!</h4>
  <% else %>
    <div id="links" class="transitions-enabled">
      <% @links.each do |link| %>
      <div class="box panel panel-default">
        <div class="panel-heading link_image">
          <%= image_tag link.link_picture, alt: link.description %>
        </div>
        <div class="panel-body">
          <% if link.title.blank? %>
            <h2 class="link-title"><%= link.link_title %></h2>
          <% else %>
            <h2 class="link-title"><%= link.title %></h2>
          <% end %>
          <% if link.description.blank? %>
            <p><%= truncate(link.link_description, length: 70) %></p>
          <% else %>
            <p><%= truncate(link.description, length: 70) %></p>
          <% end %>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-8">
              <h5><%= time_ago_in_words(link.updated_at) %> ago</h5>
            </div>
            <div class="col-md-4">
              <div class="btn-group pull-right">
                <%= link_to user_category_link_path(current_user,@category,link), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-option-horizontal"></span>
                <% end %>
                <%= link_to link.link, target: "_blank", "title": "#{link.link_title}", "data-toggle": "popover", "data-trigger": "hover", 
                    "data-content": "<p>#{truncate(link.link_description, length: 100)},</p>", class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-play"></span>
                <% end %>
              </div> 
            </div>
          </div>
        </div>
        <%= link_to user_category_link_path(current_user,@category,link), method: :delete, data: {confirm: "Are you sure?"} do %>
          <span class="label label-default label-close">x</span> 
        <% end %>
      </div>
      <% end %> 
    </div>
  <% end %>
</div>