<div class="container">
  <h2><%= @category.name %></h2>
  <% if @notes.empty? %>
    <br>
    <h4>You don't have any notes for this category now!</h4>
  <% else %>
    <% @notes.each do |note| %>
      <div class="col-md-4">
        <% if note.title.blank? %>
          <h3><%= note.link_title %></h3>
        <% else %>
          <h3><%= note.title %></h3>
        <% end %>
        <% if note.description.blank? %>
          <p><%= truncate(note.link_description, length: 50) %></p>
        <% else %>
          <p><%= truncate(note.description, length: 50) %></p>
        <% end %>        
        <p>
          <%= link_to "Go!", note.link, target: "_blank", "title": "#{note.link_title}", "data-toggle": "popover", "data-trigger": "hover", "data-content": "<p>#{truncate(note.link_description, length: 100)}</p>" %>
        </p>
        <%= image_tag note.link_picture, alt: note.description, size: "250x250" %>
      </div>
    <% end %>   
  <% end %>
  <div class="row">
    <div>
      <%= link_to "Add new note", new_user_category_note_path(current_user, @category), class: "btn btn-lg btn-primary col-md-4 col-md-offset-4", id: "btn-add" %>
    </div>    
  </div>
</div>